html{
    background-color: #89d3df;
    font-size: 14px;
    color: white;
}
a{
    text-decoration: underline;
    color: white;
}
a:visited{
    color: white;
    text-decoration: underline
}
footer{
    padding-top: 7px;
    height: 50px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    background-color: black;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}
#mainContainer{
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;

}
.dice{
    background-color: #e01a59;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}
#dice{
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 45px;

}
#dice > div{
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10%;
    margin: 3px;
    text-align: center;

}
#dice > div > button{
    height: 100%;
    width: 100%;
    background-color: #63c1a0;
}
span{
    position: relative;
    top: 10px;
}
#secondaryGrid{
    grid-column-gap: 5px;
    padding-left:7px;
    padding-right: 10px;
    margin-top: 10px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(10, 10%);
    width: 70%;
    align-content: center;
    align-items: center;

}
#secondaryGrid > div{
    background-color: #e01a59;
    height: 30px;
    border-radius: 5%;

}
#buttons{
    grid-row: 10/11;
    grid-column: 1/3;
}
#button > button{
    padding-right: 15px;
    border-radius: 10%;
}
#score{
    color: black;
    font-weight: bold;
}
button{
    background-color: #63c1a0;
}
#Title{
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
}
div#bonus{
    background-color: #ecb32d;
    grid-row: 7/8;
    grid-column: 1/3;
    font-weight: bold;
}